section {
  padding-top: 60px;
  padding-left: 70px;
  background-color: rgb(117, 117, 117);
  color: orange;
  height: 87%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
}

#time {
  font-size: 60px;
}

#date {
  margin-top: 10px;
  font-size: 17px;
}