html, body {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  height: 54px;
  justify-content: space-between;
  align-items: center;
  line-height: 55px;
  background-color: rgb(59, 59, 59);
  padding: 0 15px;
}

#logo {
  font-weight: bold;
  font-style: oblique;
}

#logo:hover {
  cursor: pointer;
}

.setting {
  display: flex;
  margin-right: 5px;
}

#detail-setting {
  cursor: pointer;
}

#darkmode {
  margin-right: 10px;
}

#darkmode:hover{
  cursor: pointer;
}

ul {
  position: fixed;
  background-color: rgb(59, 59, 59);
  color: white;
  width: 65px;
  height: 100%;
  list-style-type: none;
  left: 0;
  top: 0;
  margin-top: 53px;
  padding: 0;
}
  
li {
  border-top: solid 1px rgb(75, 75, 75);
  text-align: center;
  height: 60px;
  line-height: 60px;
}
  
li:hover {
  background: rgb(129, 129, 129);
  cursor: pointer;
}
  
#alarm-tab {
  border-bottom: solid 1px rgb(75, 75, 75);
}

section {
  padding-top: 60px;
  padding-left: 70px;
  background-color: rgb(0, 0, 0);
  color: orange;
  height: 87%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
}

#time {
  font-size: 60px;
}

#date {
  margin-top: 10px;
  font-size: 17px;
}

footer {
  background-color: rgb(0, 0, 0);
  color: orange;
  text-align: center;
  font-size: 13px;
  padding-bottom: 25px;
  padding-left: 70px;
}